# ======================
# Python
# ======================
__pycache__/
*.py[codz]
*.log

# Virtual Environments
venv/
.venv/
env/
ENV/

# ======================
# Flask
# ======================
instance/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Docker / Database
# ======================
db_data/
*.pid

# ======================
# Node / Frontend (falls später)
# ======================
node_modules/
dist/

# ======================
# Tests / Coverage
# ======================
.coverage
htmlcov/
.pytest_cache/

# ======================
# IDEs / Editor
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db
