services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ticketuser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ticketdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      FLASK_ENV: development
      FLASK_APP: src.app
      DATABASE_URL: postgresql://ticketuser:password@db:5432/ticketdb
    volumes:
      - ./backend/src:/app/src

  frontend:
    build: ./frontend
    ports:
      - "80:80"

volumes:
  pgdata:
